.card{
    width: 200px;
    margin: 20px;
    perspective: 1000px;

}

header img{
  position: absolute;
  margin-top: 3.5%;
  margin-left: 2%;
  width: 220px;
}

main{
    margin-top: 5%;
}

.cardeados{
    display: flex;
    justify-content: center;
    margin-right: 5%;
    gap: 3%;
    flex-wrap: wrap;
}

.face{
    width: 200px;
    height: 300px;
    transition: 0.7s;
    transform-style: preserve-3d;
}

.card.is-flipped .face{
    transform: rotateY(-180deg);
}

.front,.back{
    position: absolute;
    width: 100%;
    height: 100px;
    padding: 10px;
    backface-visibility: hidden;
    border: none;
    border-radius: 15px;
    font-size: 13px;
}

.front{
    transform: rotateY(0);
    cursor: pointer;
}

.back{
    transform: rotateY(180deg);
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.todosOsCards{
    display: flex;
    justify-content: start;
}

.front img{
    border-radius: 10px;
}

.back img{
    border-radius: 10px;
}

.saibaMais{
  display: flex;
  justify-content: center;
}

.saibaMais button{
  position: absolute;
  margin-top: 122%;
  margin-left: 35%;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 25px;
  background-color: #e47a9a;
  cursor: pointer;
  transition: 0.3s;
}

.saibaMais button{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #f3f3f3da;
  font-size: 15px;
  font-weight: 500;
}

.butao{
  background-color: #e47a9a;
}

.butao:hover{
  background-color: #e18fa8;
}

.linha2{
    display: flex;
    justify-content: center;
    gap: 3.5%;
    margin-top: 5%;
}

.linha3{
  display: flex;
  justify-content: center;
  gap: 8.5%;
  margin-top: 5%;
}

#footer {
  background: linear-gradient(75deg, #facbdc, #e18fa8);
  color: #303030;
  padding: 30px 10%;
  font-size: 16px;
  border-radius: 12px 12px 0 0;
  margin-top: 15%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-section {
  flex: 1 1 300px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
}

.footer-section li {
  margin-bottom: 5px;
}

.ds{
  position: absolute;
}
.multi ul {
  margin-left: 29%;
}


