* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: #fdf6f8;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 350;
}

header{
  width: 100%;
}

.navegacao{
  display: flex;
  justify-content: center;
  height: 135px;
  background: linear-gradient(75deg, #facbdc, #e18fa8);
}

.navegacao h3{
  font-size: 25px;
  margin-top: 2%;
  color: #303030;
}

header ul{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    position: absolute;
    list-style: none;
    gap: 22%;
}

header img{
  position: absolute;
  margin-top: 3.5%;
  margin-left: 2%;
  width: 220px;
}

header ul a{
    font-size: 17px;
    font-weight: 450;
    text-decoration: none;
    color: #303030;
    cursor: pointer;
}

.navegacao li{
    transition: 0.3s;
}

.navegacao li:hover{
    transform: scale(1.05);
}

.introducao{
  background: linear-gradient(75deg, #facbdc, #e18fa8);
  margin-left: 7%;
  border-radius: 10px;
  padding: 55px;
  margin-top: 12%;
  width: 85%;
  height: 580px;
}

.titulo{
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: #303030;
}

.paragrafo{
  display: flex;
  justify-content: center;
}

.paragrafo p{
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  margin-top: 5%;
}

.vamo{
  display: flex;
  justify-content: center;
}

.vamo button{
  margin-top: 5%;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(30deg, #e9c0cf, #eba5bf, #f78fb5);
  cursor: pointer;
  transition: 0.3s;
}

button a{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #303030;
  font-size: 18px;
}

button:hover{
    transform: scale(1.05);
}

#footer {
  background: linear-gradient(75deg, #facbdc, #e18fa8);
  color: #303030;
  padding: 30px 10%;
  font-size: 16px;
  border-radius: 12px 12px 0 0;
  margin-top: 8%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-section {
  flex: 1 1 300px;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
}

.footer-section li {
  margin-bottom: 5px;
}

.ds{
  position: absolute;
}
.multi ul {
  margin-left: 29%;
}



